@charset "utf-8";
/* font */
@font-face{
    font-family: NotoR;
    src: url("../font/NotoSansKR-Regular.eot");
    src: local("※"),
    url("../font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR-Regular.otf") format("opentype")
}
@font-face{
    font-family: NotoT;
    src: url("../font/NotoSansKR-Thin.otf.eot");
    src: local("※"),
    url("../font/NotoSansKR-Thin.woff") format("woff"),
    url("../font/NotoSansKR-Thin.otf") format("opentype")
}
@font-face{
    font-family: NotoB;
    src: url("../font/NotoSansKR-Bold.eot");
    src: local("※"),
    url("../font/NotoSansKR-Bold.woff2") format("woff2"),
    url("../font/NotoSansKR-Bold.woff") format("woff"),
    url("../font/NotoSansKR-Bold.otf") format("opentype")
}
/* 태그초기화 */
body, ul, p, h1, h2, h3, h4, button, em, div, a{margin: 0;padding: 0}
h1, h2, h3, h4, em, strong, button{font-weight: normal;font-family: inherit;color: inherit;font-size: inherit}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none;}
button{cursor: pointer;border: none;background: none}
em, strong{font-style: normal}
img{vertical-align: top;max-width: 100%;height: auto}
nav, header, section, article, footer{display: block}
ul{list-style: none}

/* 공통클래스 */
.blind{position: absolute;width: 1px;height: 1px;overflow: hidden;text-indent: -9999px;left: -9999px;}
.p_r{position: relative;}
.p_a{position: absolute}
.f_r{float: right}
.f_l{float: left;}
.clearfix:after{content: "";display: block;clear: both}
/* common */
body{font-family: NotoR, "맑은 고딕", "Malgun Gothic";font-size: 1em;color: #2b2b2b}


/* header */
#header{
  position: absolute;top: 0;left: 0;width: 100%;height: 70px;color: #fff;z-index: 100;
  .head_top{width: 100%;background: #235b42;height: 70px;position: fixed}
  .logo{margin: 6px 0 0 15px}
}

.btn_menu{position: absolute;right: 5px;top: 20px}

#mGnb{position: fixed;bottom: 100%;right: 0;height: 100%;width: 300px;color: #2b2b2b;background: #fff;z-index: 200}
#mGnb > ul >li{border-bottom: 1px solid #ccc;padding: 5px 10px;overflow: hidden}
#mGnb ul li ul{max-height: 0;transition: max-height 0.5s}
#mGnb ul li.on ul{max-height: 800px;}
#mGnb > ul >li > a{display: block;font-size: 18px;height: 60px;line-height: 60px;padding-left: 30px;font-family: NotoB}
#mGnb > ul >li:first-child{margin-top: 50px}
#mGnb ul li ul li a{display: inline-block;font-size: 15px;padding: 5px 30px}
#mGnb > ul >li > a img{float: right;margin-top: 18px}
.close_btn{position: absolute;right: 20px;top: 20px;}

.title{font-size: 25px;margin-top: -70px}
.title:after,.title2:after{content: "";display: block;width: 16px;height: 1px;;margin-left: 49%;margin-top: 5px;background: #235b42}
.cell{display: table-cell;vertical-align: middle}
.area{text-align: center;margin: 0 auto;width: 100%}
#content > article > .area{display: table;height: 100%;padding-top: 70px;}
#cnt0{background: url("../images/main/m_bg.jpg") repeat-x center top;background-size: contain;box-sizing: border-box;color: #fff}
#cnt0 .area{
  h3{font-size: 40px;line-height: 40px;padding-top: 0;margin-top: -250px;font-family: NotoB}
  span{position: absolute;font-size: 14px;margin-top: -107px;margin-left: -15%;font-family: NotoT}
}


#cnt0 .area 
#cnt0 .area span:before{content: "";display: block;width: 35px;height: 1px;background: #fff;width: 20px;margin-bottom: 3px;margin-left: 56px}
#cnt0 .area p{position: relative;font-size: 13px;line-height: 20px;z-index: 1;margin-top: 15px;margin-bottom: 5px}
#cnt0 em{display: block;font-size: 12px;width:125px;height: 24px;line-height: 24px;margin: 0 auto;margin-top: 15px;background: rgba(255, 255, 255, 0.4)}
#cnt0 .area img{position: absolute;top: 345px;left: 50%;margin-left: -135px;margin-top: 0px;width: 270px;height: 270px;}

#cnt1{background: none}
#cnt1 .title{margin-top: -90px}
#cnt1 strong {display: block;font-size: 15px;margin: 10px 0 30px;}
#cnt1 p{font-size: 13px;line-height: 26px;padding: 0 7px;letter-spacing: -0.5px;line-height: 24px}
#cnt1 .polygon{margin-top: 10px}
#cnt1 .polygon img{width: 250px}

#cnt2 h3, #cnt3 h3 {margin-top: -100px}
#cnt2 ul li, #cnt3 ul li {float: left}
.slider{position: relative;height: 435px;width: 350px;margin-top: 13px;overflow: hidden}
.slider ul{padding-top: 10px;width: 4800px;padding-top: 10px}
.slider ul li{width: 350px;height: 435px}
.slider li img{width: 215px;height: 215px;margin-left: 0px;margin-top: 0px;}
.slider .visual li .txt{position: relative;width: 100%;color: #2b2b2b;text-align: center}
.slider .visual li .txt h4{position: relative;font-size: 25px;margin-bottom: 30px}
.slider .visual li .txt p{line-height: 28px;font-size: 15px;}

.control{position: absolute}
.control button {position: absolute;top: 0;background: no-repeat;}
.control button img{opacity: 0;}
.control .prev{left: -137px;;background-image: url("../images/common/m_prev.png")}
.control .next{width: 19px;height: 34px;margin-left: 0;left: 155px;background-image: url("../images/common/m_next.png")}
#cnt2 .control{left: 45%;top: 100px}
#cnt3 .control{left: 45%;top: 86px}

#content > #cnt4 > .area, #content > #cnt5 > .area{padding-top: 0;color: #fff;background: #235b42}
#cnt4 h3, #cnt5 h3{font-size: 25px}
.main_txt p{padding: 10px 0 5px}
.main_txt .circle{position: relative;left: 50%;width: 170px;height: 170px;margin-left: -85px;top: 60px}
#cnt4 .main_txt .circle img{width: 40px;height: auto;}
#cnt5 .main_txt .circle img{width: 60px;height:auto}
.main_txt .circle p{font-size: 13px;font-family: NotoR}
.main_txt .circle img{margin-top: 30px}


#cnt6{height: auto !important}
#cnt6 .subTxt{font-size: 13px;padding: 20px 0 35px 0}
#cnt6 ul{width: 100%;text-align: center;margin: 0 auto;margin-bottom: 30px}
#cnt6 ul figcaption{text-align: center;font-size: 13px}
#cnt6 ul li {float: none;display: inline-block; margin-left: 0px;vertical-align: top;background: #235b42}
#cnt6 ul li+ li {margin-top: 20px;}

.flip{color: #fff;position: relative;overflow: hidden;min-width: 237px;max-width: 237px;max-height: 280px;
  width: 100%;text-align: center;background-color: #235b42;font-size: 14px;-webkit-perspective: 50em;
perspective: 50em;}
.flip *{-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 0.6s ease;transition: all 0.6s ease;}
.flip img{opacity: 1;width: 100%;-webkit-transform-origin: 50% 0%;-ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;}
.flip p{position: absolute;top: 40px;left: 0;bottom: 0;width: 100%;-webkit-transform: rotateX(90deg);transform: rotateX(90deg);
-webkit-transform-origin: 50% 100%;-ms-transform-origin: 50% 100%;transform-origin: 50% 100%;z-index: 1;opacity: 0;padding: 20px 30px;line-height: 1.5em;font-weight: 500;margin: 0 0 15px;}
.flip:hover img{-webkit-transform: rotateX(-90deg);transform: rotateX(-90deg);opacity: 0;}
.flip:hover p{-webkit-transform: rotateX(0deg);transform: rotateX(0deg);opacity: 1;-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;}


#footer{border-top: 1px solid #aaa;height: auto;background: #fff;color: #ccc}
#footer .area.wrap{position: relative;width: 100%;height: auto;padding: 30px;margin-top: 0;text-align: left;box-sizing: border-box}
#footer .area .foot_link{display: inline-block;height: 13px;line-height: 13px;}
#footer .area .foot_link .list1{margin-left: 0}
#footer .area .foot_link .list1:after{display: none}
#footer .area .foot_link li{margin-left: 18px}
#footer .area .foot_link li:after{content: "";display: block;height: 13px;width: 1px;background: #ccc;margin-top: -13px;margin-left: -9px}
#footer .area ul,#footer .area p{font-size: 13px}
#footer .area .foot_box ul + p span {display: block}
#footer .area .copy{font-size: 12px;}
#footer .area .foot_box{top: 0}
#footer .area ul li{float: left}
#footer .area .sns{margin-top: 10px;}
#footer .area .sns li{margin-left: 20px;}
#footer .area .sns .twitter{margin-left: 0;}



/* review style */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1283 {
  color: #fff;
  position: relative;
  overflow: hidden;
  min-width: 237px;
  max-width: 237px;
  max-height: 280px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #235b42;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
.snip1283 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.snip1283 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.snip1283 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.snip1283 h3,
.snip1283 p {
  line-height: 1.5em;
}
.snip1283 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.snip1283 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

.snip1283:hover img,
.snip1283.hover img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  opacity: 0;
}
.snip1283:hover figcaption,
.snip1283.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
